@charset "utf-8"; /* Esto es un comentario */

@font-face {
    font-family: Monoespacio;
    src: url(../fonts/RobotoMono-ExtraLight.ttf);
}
@font-face {
    font-family: Fantasia;
    src: url(../fonts/BADABB__.TTF);
}
@font-face {
    font-family: Escuela;
    src: url(../fonts/PlaywriteVN-Regular.ttf);
}
@font-face {
    font-family: Clasica;
    src: url(../fonts/ELEGANT.ttf);
}
@media (max-width: 1000px) and (min-width: 700px) {
    nav ul {
        padding: 0.5vw;
    }

    nav ul li {
        margin: 0 1vw; 
    }

    nav ul li a {
        font-size: max(2vw, 10px); 
    }
}
@media (max-width: 800px) {
    aside {
        display: none;
    }

    article {
        margin-left: 50px;
    }
}
* { /*Selector Universal*/
   
}
ul {
    border: 1px dotted white;
    padding:0px;
    text-align:center;
    margin:0px 80px;

}
li{
    display:inline-block;
    background-color:powderblue;
    margin:5px 10px;
    padding:15px 30px;
    text-align:center;
    vertical-align:middle;
    height:40px;
}
.resaltar-dolor {
    font-style: italic;
    text-shadow: 3px 4px 5px #FF0000;
}
.resaltar-ipsum {
    text-decoration: underline;
    text-decoration-color: #e5c4f3; 
}
header { /*Selector de Tipo*/
    background-color: hsl(280, 60%, 11%); /* Esto es el color de fondo, en HSL */
    color: Pink; /* Esto es el color del texto, por su alias */
}

header .titulo-container {
        display: flex; /* Organiza la imagen y el título en línea */
        align-items: center; /* Alinea verticalmente la imagen y el título */
    }
header .titulo-container .imagenP {
        margin-right: 10px; /* Espacio entre la imagen y el título */
    }

header h1 {
        font-family: Fantasia;
        margin: 0; /* Elimina márgenes para que la línea quede pegada */
        display: inline-block; /* Asegura un ancho definido para el título */
    }

header .linea-titulo {
        width: calc(100% - 80px); /*Ajustar el ancho para que no ocupe todo el espacio*/
        max-width:320px;
        margin: 5px 0 0 0;
        border: 1px solid black;
    }

body { /*Selector de Tipo*/
    background-color: #210b2c; /* Esto es el color de fondo, en Hexadecimal */
    color: #d8b4e2; /* Esto es el color del texto, en Hexadecimal */
    font-family: Clasica;
}
h2 {
    font-family: Escuela;
}
h3 {
    font-family: Escuela;
}
nav { /*Selector de Tipo*/
    position:sticky;
    top:10px;
    z-index:1000;
    margin: 50px;
    font-family: Monoespacio;
    background-color: #210b2c;
    color: #d8b4e2;
    padding-top: 5px;
    padding-bottom: 5px;
    border: 5px groove;
    border-color:hsl(27, 34%, 81%) hsl(27,34%,19%) hsl(27,34%,19%) hsl(27,34%,81%); 
}
aside { /*Selector de Tipo*/
    float:left;
    width:30%;
    margin-right:20px;
    margin:50px;
    background-color: rgb(86, 41, 112); /* Esto es el color de fondo, en RGB Decimal */
    color: rgb(174, 117, 159);
}
section {
    margin: 50px;
    padding:10px 15px 10px 15px;
}
section h2{
    text-shadow: -1px 1px 0  hsl(280, 100%, 40%);
}
footer { /*Selector de Tipo*/
    font-family: Monoespacio;
    background-color: rgb(86, 41, 112);
    color: rgb(174, 117, 159);
    border-top:20px hidden;
    border-bottom:20px dashed;
    border-left:10px solid;
    border-right:10px dotted;
    padding:15px;
}
article{
    margin-left:35%;
}
article p { /*Selector de descendiente*/
    background-color: hsl(278, 47%, 30%);
    color: hsl(287, 44%, 80%);
    text-indent: 0.5in;
}
#oye {
    line-height: 1.5;
    height: 30ex;
    overflow-y: auto;
    background-image: url("../images/azulejos.png");
    background-attachment: scroll;
}
table td.descripcion {
    letter-spacing: 0.2ch;
}
.destacado { /*Selector de clase*/
    background-color: hsl(280, 60%, 11%);
    color: hsl(350, 100%, 88%);
}
h2 + h3 { /*Selector de Combinador de Hermano Adyacente*/
    background-color: hsl(269, 62%, 75%);
    color: hsl(278, 47%, 30%);

}

img {
    width: 50px;
    height: 50px;
}

.imagenP {
    width: 70px;
    height: 70px;
    
}
#empresa {
    background-color: hsla(269, 62%, 75%,0.5);
    color: hsl(280, 60%, 11%);
}

#empresa2 {
    background-color: hsla(269, 62%, 75%,0.5);
    color: hsl(280, 60%, 11%);
}

#empresa3 {
    background-color: hsla(269, 62%, 75%,0.5);
    color: hsl(280, 60%, 11%);
}
#qs {
    background-color: hsla(269, 62%, 75%,0.5);
    color: hsl(280, 60%, 11%);
}

table thead th {
    background-color: #e5c4f3;
    font-size:1.2em;
    color: #210b2c;
    padding: 10px;
}

table img {
    width: 150px;
    height:auto;
}
table caption{
    font-style:italic;
    font-size:22px;
    color: #d8b4e2;
    margin-bottom: 10px;
}
.azulejo {
    background-image: url("../images/azulejos.png");
    background-position: 20% 20%;
    background-repeat: repeat;
}
.imagen-fija{
    position:fixed;
    bottom:10px;
    right:10px;
    max-width:150px;
    max-height:150px;
}
a{
    display:inline-block;
    width:50px;
    height:50px;
    background-color:powderblue;
    z-index:1;
    
}
a.duplicado {
    position: absolute;
    top: 5px;
    right: 30px;
    background-color: mediumpurple;
    z-index: 0;
}
article.destacado {
    position: relative;
}
article.destacado a{
    position:relative;
    display:inline-block;
}

nav a:link{
    color: #FF0000;
}
nav a:visited{
    color: #FF0000;
    text-decoration:underline;
    text-decoration-color:powderblue;
}

nav a:hover{
    font-size: 120%;
    font-weight:bold;
    text-transform: uppercase;
}

nav li:not(:has(a)){
    background-color:#FF0000;
    color:powderblue;
    font-weight:bold;
    padding: 10px 20px;
}

section.azulejo article p::first-letter {
    font-size: 3em;
    font-family: "Brush Script Std", cursive;
}

td.descripcion::after {
    content: "";
    display: block;
    width: 100px; 
    height: 100px;
    background-image: url("../images/new_tag.png");
    background-size: contain;
    background-repeat: no-repeat;
    margin-top: 10px;
}
